@model List<COMP2084_Project_Eventour.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<div class="container mb-3">
    <h1>View your Events</h1>
    <div class="container mb-3 mt-3 d-flex justify-content-end">
        <a asp-action="Create">
            <button class="btn btn-primary">Create New </button>
        </a>
    </div>


    <div class="container mb-3">
        <div class="row">
            @if (@Model.Count() < 1)
            {
                <div class="container col-12">
                    <h4>There are currently no events to show. Please create a new event.</h4>
                </div>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="col-4 mb-3 mt-3">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/images/events/@Html.DisplayFor(modelItem => item.Photo)" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Title)">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Description).</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Category: @Html.DisplayFor(modelItem => item.EventDetail.Category.Name)</li>
                                <li class="list-group-item">$@Html.DisplayFor(modelItem => item.EventDetail.Price) </li>
                                <li class="list-group-item">Start Time: @Html.DisplayFor(modelItem => item.EventDetail.StartDate)</li>
                            </ul>
                            <div class="card-footer">
                                <a asp-action="Edit" asp-route-id="@item.EventId" class="btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.EventId" class="btn btn-info">Read More</a>
                                <a asp-action="Delete" asp-route-id="@item.EventId" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                 }
            }
        </div>
    </div>
</div>