@model IEnumerable<COMP2084_Project_Eventour.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="container text-center">

    <h1 class="mb-3">View All Categories</h1>

    <div class="container d-flex justify-content-end mb-3 mt-3">
        <a asp-action="Create">
            <button class="btn btn-info">
                Create New
            </button>
        </a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Edit | Detail | Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <div class="container">
                            <a asp-action="Edit" asp-route-id="@item.CategoryId">
                                <i class="fa-solid fa-pen-to-square category_icon"></i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.CategoryId"><i class="fa-solid fa-circle-info category_icon"></i></a>

                            <a asp-action="Delete" asp-route-id="@item.CategoryId">
                                <i class="fa-solid fa-trash category_icon"></i>
                            </a>
                        </div>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>